.castTitle {
    height: 46px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.actorsWrap{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
}