.layout {
    position: absolute;
    /*margin-top: 64px;*/
    overflow: hidden;
    color: var(--text-primary);
    background-color: var(--background);
}

a {
    color: var(--text-primary);
}

a:hover {
    color: var(--link-primary-hover);
}

.container {
    background-color: var(--background);
    margin-top: 64px;
    color: var(--text-primary);
    padding-top: 10px;
}