.content_wrapper{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.actorsWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.title{
    font-size: 1.6em;
}