body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --background: white;
  --text-primary: black;
  --text-secondary: white;
  --accent: purple;
  --tmdbDarkBlue: 3,37,65;
  --accountLightBlue: 1,180,228;

}
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

a {
  text-decoration: none !important;
  font-weight: normal;
  background: transparent;
}
a:hover{
  color: rgba(255,255,255,0.7);
}

[role=tooltip].popup-content{
  width: 300px ;
}
[role='tooltip'].languagePopup{

}