.card {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 7px 12px var(--box-shadow);
    width: 220px;
    max-width: calc(1400px - 80px - 260px - 30px);
}

.image a img{
    width: 220px;
    height: 330px;
}

.content {
    padding: 26px 10px 12px 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    color: var(--text-primary);
}

.content h2 {
    font-size: 1em;
    margin: 0;
}
.content p{
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: var(--link-primary-hover);
}
.circularProgressbar{
    width: 38px;
    position: absolute;
    top: -20px;
    left: 10px;
}